
<div class="topnav" th:fragment="nav">
    <a class="active" href="/">Forside</a>
    <a href="/findMember">Find medlem</a>
    <a href="/about">Alt om klubben</a>
    <a href="/myCats">Mine katte</a>
    <a href="/profile">Min Profil</a>
    <a href="/logOut">Log Ud</a>
</div>


<!--
<div class="topnav" th:fragment="nav">
<nav>
    <ul>
        <li class="nav-item" id="home">
            <a href="/">Forside</a>
        </li>
        <li class="nav-item" id="findMember">
            <a href="/findMember">Find medlem</a>
        </li>
        <li class="nav-item" id="about">
            <a href="/about">Alt om klubben</a>
        </li>
        <li class="nav-item" id="myCats">
            <a href="/myCats">Mine katte</a>
        </li>
        <li class="nav-item" id="profile">
            <a href="/profile">Min Profil</a>
        </li>
        <li class="nav-item" id="logOut">
            <a href="/logOut">Log ud</a>
        </li>
    </ul>
</nav>
</div>
-->

<!--
<div class="topnav" th:fragment="nav">
    <a class="nav-item" href="/">Forside</a>
    <a class="nav-item" href="/findMember">Find medlem</a>
    <a class="nav-item" href="/about">Alt om klubben</a>
    <a class="nav-item" href="/myCats">Mine katte</a>
    <a class="nav-item" href="/profile">Min Profil</a>
    <a class="nav-item" href="/logOut">Log Ud</a>
</div>
-->